-------------------------------------------------------------------

Microsoft SQL Server T-SQL Fundamentals

Chapter 02 - Single-Table Queries

ï¿½ Itzik Ben-Gan

-------------------------------------------------------------------

-------------------------------------------------------------------

Elements of the SELECT Statement

-------------------------------------------------------------------

Listing 2-1: Sample Query

\### Proposition:

This query retrieves the <span style="color: #a31515;">`EmployeeId`</span>, the <span style="color: #0000ff;">year</span> of the order (<span style="color: #a31515;">`orderyear`</span>), <span style="color: #0000ff;">and</span> the total <span style="color: #0000ff;">number</span> of orders (<span style="color: #a31515;">`numorders`</span>) made <span style="color: #0000ff;">by</span> <span style="color: #000000;">**</span>Customer <span style="color: #09885a;">71</span><span style="color: #000000;">**</span>. The query filters the records <span style="color: #0000ff;">from</span> the <span style="color: #a31515;">`Sales.[Order]`</span> <span style="color: #0000ff;">table</span> <span style="color: #0000ff;">where</span> the <span style="color: #a31515;">`CustomerId`</span> <span style="color: #0000ff;">is</span> <span style="color: #09885a;">71</span> <span style="color: #0000ff;">and</span> groups the results <span style="color: #0000ff;">by</span> <span style="color: #a31515;">`EmployeeId`</span> <span style="color: #0000ff;">and</span> the <span style="color: #795e26;">year</span> (<span style="color: #a31515;">`YEAR(orderdate)`</span>).

  

The query only includes the groups <span style="color: #0000ff;">where</span> the <span style="color: #0000ff;">number</span> of orders <span style="color: #0000ff;">is</span> greater than <span style="color: #09885a;">1</span>, <span style="color: #0000ff;">using</span> the <span style="color: #a31515;">`HAVING`</span> clause. The results are <span style="color: #0000ff;">then</span> sorted <span style="color: #0000ff;">first</span> <span style="color: #0000ff;">by</span> <span style="color: #a31515;">`EmployeeId`</span> <span style="color: #0000ff;">and</span> <span style="color: #0000ff;">then</span> <span style="color: #0000ff;">by</span> <span style="color: #a31515;">`orderyear`</span> <span style="color: #0000ff;">in</span> ascending order.

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY EmployeeId, orderyear;

\### Proposition:

This query retrieves the <span style="color: #a31515;"><code>orderid</code></span>, <span style="color: #a31515;"><code>CustomerId</code></span>, <span style="color: #a31515;"><code>EmployeeId</code></span>, <span style="color: #a31515;"><code>orderdate</code></span>, <span style="color: #0000ff;">and</span> <span style="color: #a31515;"><code>freight</code></span> <span style="color: #0000ff;">from</span> the <span style="color: #a31515;"><code>Sales.[Order]</code></span> <span style="color: #0000ff;">table</span>. It displays all the available orders <span style="color: #0000ff;">in</span> the <span style="color: #0000ff;">system</span>, showing which customer placed the order, which employee handled it, <span style="color: #0000ff;">when</span> the order was placed (<span style="color: #a31515;"><code>orderdate</code></span>), <span style="color: #0000ff;">and</span> the associated freight cost.

In [ ]:
---------------------------------------------------------------------
-- The FROM Clause
---------------------------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT orderid, CustomerId, EmployeeId, orderdate, freight
FROM Sales.[Order];

\### Proposition:

This query retrieves the orderid, EmployeeId, orderdate, <span style="color: #0000ff;">and</span> freight for all orders placed <span style="color: #0000ff;">by</span> Customer <span style="color: #09885a;">71</span> <span style="color: #0000ff;">from</span> the Sales.\[Order\] <span style="color: #0000ff;">table</span>. It filters the results <span style="color: #0000ff;">to</span> show only the orders <span style="color: #0000ff;">where</span> the CustomerId <span style="color: #0000ff;">is</span> <span style="color: #09885a;">71</span>.

In [ ]:

---------------------------------------------------------------------
-- The WHERE Clause
---------------------------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT orderid, EmployeeId, orderdate, freight
FROM Sales.[Order]
WHERE CustomerId = 71;

In [ ]:
---------------------------------------------------------------------
-- The GROUP BY Clause
---------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate);

In [ ]:
USE Northwinds2022TSQLV7;

SELECT
  EmployeeId,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate);

In [ ]:
/*
SELECT empid, YEAR(orderdate) AS orderyear, freight
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);
*/
USE Northwinds2022TSQLV7;


SELECT 
  EmployeeId, 
  YEAR(orderdate) AS orderyear, 
  COUNT(DISTINCT CustomerId) AS numcusts
FROM Sales.[Order]
GROUP BY EmployeeId, YEAR(orderdate);

In [ ]:
---------------------------------------------------------------------
-- The HAVING Clause
---------------------------------------------------------------------

SELECT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1;

In [ ]:
---------------------------------------------------------------------
-- The SELECT Clause
---------------------------------------------------------------------
USE Northwinds2022TSQLV7;


SELECT orderid orderdate
FROM Sales.[Order];

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1;

In [ ]:
/*
SELECT orderid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE orderyear > 2015;
*/

USE Northwinds2022TSQLV7;

SELECT orderid, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE YEAR(orderdate) > 2015;

In [ ]:
/*
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING numorders > 1;
*/

USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1;

In [ ]:
-- Listing 2-2: Query Returning Duplicate Rows
USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71;

In [ ]:
-- Listing 2-3: Query With a DISTINCT Clause
USE Northwinds2022TSQLV7;

SELECT DISTINCT EmployeeId, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT *
FROM Sales.Shipper;

In [ ]:
/*
SELECT orderid,
  YEAR(orderdate) AS orderyear,
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid,
  YEAR(orderdate) AS orderyear,
  YEAR(orderdate) + 1 AS nextyear
FROM Sales.[Order];

In [ ]:
---------------------------------------------------------------------
-- The ORDER BY Clause
---------------------------------------------------------------------

-- Listing 2-4: Query Demonstrating the ORDER BY Clause
USE Northwinds2022TSQLV7;

SELECT EmployeeId, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY EmployeeId, orderyear;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName, EmployeeCountry
FROM HumanResources.Employee
ORDER BY hiredate;

/*
SELECT DISTINCT country
FROM HumanResources.Employee
ORDER BY empid;
*/

In [ ]:
---------------------------------------------------------------------
-- The TOP and OFFSET-FETCH Filters
---------------------------------------------------------------------

In [ ]:
---------------------------------------------------------------------
-- The TOP Filter
---------------------------------------------------------------------

-- Listing 2-5: Query Demonstrating the TOP Option
USE Northwinds2022TSQLV7;

SELECT TOP (5) orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY orderdate DESC;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT TOP (1) PERCENT orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY orderdate DESC;

In [ ]:
-- Listing 2-6: Query Demonstrating TOP with Unique ORDER BY List
USE Northwinds2022TSQLV7;

SELECT TOP (5) orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY orderdate DESC, orderid DESC;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT TOP (5) WITH TIES orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY orderdate DESC;

In [ ]:
---------------------------------------------------------------------
-- The OFFSET-FETCH Filter
---------------------------------------------------------------------

-- OFFSET-FETCH
USE Northwinds2022TSQLV7;

SELECT orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY orderdate, orderid
OFFSET 50 ROWS FETCH NEXT 25 ROWS ONLY;

In [ ]:
---------------------------------------------------------------------
-- A Quick Look at Window Functions
---------------------------------------------------------------------

-- SELECT orderid, CustomerId, val,
--   ROW_NUMBER() OVER(PARTITION BY CustomerId
--                     ORDER BY val) AS rownum
-- FROM Sales.[Order]
-- ORDER BY CustomerId, val;

In [ ]:
---------------------------------------------------------------------
-- Predicates and Operators
---------------------------------------------------------------------

-- Predicates: IN, BETWEEN, LIKE
USE Northwinds2022TSQLV7;

SELECT orderid, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderid IN(10248, 10249, 10250);

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderid BETWEEN 10300 AND 10310;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'D%';

In [ ]:
-- Comparison operators: =, >, <, >=, <=, <>, !=, !>, !< 
USE Northwinds2022TSQLV7;

SELECT orderid, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate >= '20160101';

In [ ]:
-- Logical operators: AND, OR, NOT
USE Northwinds2022TSQLV7;

SELECT orderid, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate >= '20160101'
  AND EmployeeId IN(1, 3, 5);

In [ ]:
-- Arithmetic operators: +, -, *, /, %
USE Northwinds2022TSQLV7;

SELECT orderid, productid, Quantity, unitprice, DiscountPercentage,
  Quantity * unitprice * (1 - DiscountPercentage) AS val
FROM Sales.OrderDetail;

In [ ]:
-- Operator Precedence

-- AND precedes OR
USE Northwinds2022TSQLV7;

SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE
        CustomerId = 1
    AND EmployeeId IN(1, 3, 5)
    OR  CustomerId = 85
    AND EmployeeId IN(2, 4, 6);

In [ ]:
-- Equivalent to
USE Northwinds2022TSQLV7;

SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE
      ( CustomerId = 1
        AND EmployeeId IN(1, 3, 5) )
    OR
      ( CustomerId = 85
        AND EmployeeId IN(2, 4, 6) );

In [ ]:
USE Northwinds2022TSQLV7;

-- *, / precedes +, -
SELECT 10 + 2 * 3   -- 16

In [ ]:
USE Northwinds2022TSQLV7;

SELECT (10 + 2) * 3 -- 36

In [ ]:
---------------------------------------------------------------------
-- CASE Expression
---------------------------------------------------------------------

-- Simple
-- SELECT productid, productname, categoryid,
--   CASE categoryid
--     WHEN 1 THEN 'Beverages'
--     WHEN 2 THEN 'Condiments'
--     WHEN 3 THEN 'Confections'
--     WHEN 4 THEN 'Dairy Products'
--     WHEN 5 THEN 'Grains/Cereals'
--     WHEN 6 THEN 'Meat/Poultry'
--     WHEN 7 THEN 'Produce'
--     WHEN 8 THEN 'Seafood'
--     ELSE 'Unknown Category'
--   END AS categoryname
-- FROM Production.Product;

-- -- Searched
-- SELECT orderid, CustomerId, val,
--   CASE 
--     WHEN val < 1000.00                   THEN 'Less than 1000'
--     WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
--     WHEN val > 3000.00                   THEN 'More than 3000'
--     ELSE 'Unknown'
--   END AS valuecategory
-- FROM Sales.OrderValues;

In [ ]:
---------------------------------------------------------------------
-- NULLs
---------------------------------------------------------------------
USE Northwinds2022TSQLV7;


SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion = N'WA';

In [ ]:
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion <> N'WA';

In [ ]:
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion = NULL;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion IS NULL;

In [ ]:
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion <> N'WA'
   OR CustomerRegion IS NULL;

In [ ]:
---------------------------------------------------------------------
-- All-At-Once Operations
---------------------------------------------------------------------

/*
SELECT 
  orderid, 
  YEAR(orderdate) AS orderyear, 
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE col1 <> 0 AND col2/col1 > 2;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE
  CASE
    WHEN col1 = 0 THEN 'no' -- or 'yes' if row should be returned
    WHEN col2/col1 > 2 THEN 'yes'
    ELSE 'no'
  END = 'yes';
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE (col1 > 0 AND col2 > 2*col1) OR (col1 < 0 AND col2 < 2*col1); 
*/

In [ ]:
---------------------------------------------------------------------
-- Working with Character Data
---------------------------------------------------------------------

In [ ]:
---------------------------------------------------------------------
-- Collation
---------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT name, description
FROM sys.fn_helpcollations();

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName = N'davis';

In [ ]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName COLLATE Latin1_General_CS_AS = N'davis';

In [ ]:
---------------------------------------------------------------------
-- Operators and Functions
---------------------------------------------------------------------

-- Concatenation
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName + N' ' + EmployeeLastName AS fullname
FROM HumanResources.Employee;

In [ ]:
-- Listing 2-7: Query Demonstrating String Concatenation
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity,
  CustomerCountry + N',' + CustomerRegion + N',' + CustomerCity AS location
FROM Sales.Customer;

In [ ]:
-- convert NULL to empty string
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity,
  CustomerCountry + COALESCE( N',' + CustomerRegion, N'') + N',' + CustomerCity AS location
FROM Sales.Customer;

In [ ]:
-- using the CONCAT function
USE Northwinds2022TSQLV7;

SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity,
  CONCAT(CustomerCountry, N',' + CustomerRegion, N',' + CustomerCity) AS location
FROM Sales.Customer;

In [ ]:
-- Functions
SELECT SUBSTRING('abcde', 1, 3); -- 'abc'

In [ ]:
SELECT RIGHT('abcde', 3); -- 'cde'

In [ ]:
SELECT LEN(N'abcde'); -- 5

In [ ]:
SELECT DATALENGTH(N'abcde'); -- 10

In [ ]:
SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

In [ ]:
SELECT PATINDEX('%[0-9]%', 'abcd123efgh'); -- 5

In [ ]:
SELECT REPLACE('1-a 2-b', '-', ':'); -- '1:a 2:b'

In [ ]:
SELECT EmployeeId, EmployeeLastName,
  LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastName, 'e', '')) AS numoccur
FROM HumanResources.Employee;

In [ ]:
SELECT REPLICATE('abc', 3); -- 'abcabcabc'

In [ ]:
SELECT supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Supplier;

In [ ]:
SELECT STUFF('xyz', 2, 1, 'abc'); -- 'xabcz'

In [ ]:
SELECT UPPER('Itzik Ben-Gan'); -- 'ITZIK BEN-GAN'

In [ ]:
SELECT LOWER('Itzik Ben-Gan'); -- 'itzik ben-gan'

In [ ]:
SELECT RTRIM(LTRIM('   abc   ')); -- 'abc'

In [ ]:
SELECT FORMAT(1759, '0000000000'); -- '0000001759'

In [ ]:
-- COMPRESS
SELECT COMPRESS(N'This is my cv. Imagine it was much longer.');

/*
INSERT INTO dbo.EmployeeCVs( empid, cv )
  VALUES( @empid, COMPRESS(@cv) );
*/

In [ ]:
-- DECOMPRESS
SELECT DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'));

In [ ]:
SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

In [ ]:
/*
SELECT empid, CAST(DECOMPRESS(cv) AS NVARCHAR(MAX)) AS cv
FROM dbo.EmployeeCVs;
*/

In [ ]:
-- STRING_SPLIT
SELECT CAST(value AS INT) AS myvalue
FROM STRING_SPLIT('10248,10249,10250', ',') AS S;

In [ ]:
/*
myvalue
-----------
10248
10249
10250
*/

In [ ]:
---------------------------------------------------------------------
-- LIKE Predicate
---------------------------------------------------------------------

-- Last name starts with D
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'D%';

In [ ]:
-- Second character in last name is e
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'_e%';

In [ ]:
-- First character in last name is A, B or C
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'[ABC]%';

In [ ]:
-- First character in last name is A through E
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'[A-E]%';

In [ ]:
-- First character in last name is not A through E
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'[^A-E]%';

In [ ]:
---------------------------------------------------------------------
-- Working with Date and Time Data
---------------------------------------------------------------------

-- Literals
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate = '20160212';

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate = CAST('20160212' AS DATE);

In [ ]:
-- Language dependent
SET LANGUAGE British;
SELECT CAST('02/12/2016' AS DATE);

In [ ]:
SET LANGUAGE us_english;
SELECT CAST('02/12/2016' AS DATE);

In [ ]:
-- Language neutral
SET LANGUAGE British;
SELECT CAST('20160212' AS DATE);

In [ ]:
SET LANGUAGE us_english;
SELECT CAST('20160212' AS DATE);

In [ ]:
SELECT CONVERT(DATE, '02/12/2016', 101);

In [ ]:
SELECT CONVERT(DATE, '02/12/2016', 103);

In [ ]:
SELECT PARSE('02/12/2016' AS DATE USING 'en-US');

In [ ]:
SELECT PARSE('02/12/2016' AS DATE USING 'en-GB');

-- Working with Date and Time Separately

In [ ]:
-- Create Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders
DROP TABLE IF EXISTS Sales.Orders2;

SELECT orderid, CustomerId, EmployeeId, CAST(orderdate AS DATETIME) AS orderdate
INTO Sales.Orders2
FROM Sales.[Order];

In [ ]:
-- Query Sales.Orders2
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.Orders2
WHERE orderdate = '20160212';

In [ ]:
ALTER TABLE Sales.Orders2
  ADD CONSTRAINT CHK_Orders2_orderdate
  CHECK( CONVERT(CHAR(12), orderdate, 114) = '00:00:00:000' );

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.Orders2
WHERE orderdate >= '20160212'
  AND orderdate < '20160213';

In [ ]:
SELECT CAST('12:30:15.123' AS DATETIME);

In [ ]:
-- Cleanup
DROP TABLE IF EXISTS Sales.Orders2;

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE YEAR(orderdate) = 2015;

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate >= '20150101' AND orderdate < '20160101';

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE YEAR(orderdate) = 2016 AND MONTH(orderdate) = 2;

In [ ]:
SELECT orderid, CustomerId, EmployeeId, orderdate
FROM Sales.[Order]
WHERE orderdate >= '20160201' AND orderdate < '20160301';

In [ ]:
-- Functions

-- Current Date and Time
SELECT
  GETDATE()           AS [GETDATE],
  CURRENT_TIMESTAMP   AS [CURRENT_TIMESTAMP],
  GETUTCDATE()        AS [GETUTCDATE],
  SYSDATETIME()       AS [SYSDATETIME],
  SYSUTCDATETIME()    AS [SYSUTCDATETIME],
  SYSDATETIMEOFFSET() AS [SYSDATETIMEOFFSET];

In [ ]:
SELECT
  CAST(SYSDATETIME() AS DATE) AS [current_date],
  CAST(SYSDATETIME() AS TIME) AS [current_time];

In [ ]:
-- The CAST, CONVERT and PARSE Functions and their TRY_ Counterparts
SELECT CAST('20160212' AS DATE);
SELECT CAST(SYSDATETIME() AS DATE);
SELECT CAST(SYSDATETIME() AS TIME);

In [ ]:
SELECT CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112);
SELECT CONVERT(DATETIME, CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112), 112);

In [ ]:
SELECT CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114);
SELECT CONVERT(DATETIME, CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114), 114);

In [ ]:
SELECT PARSE('02/12/2016' AS DATETIME USING 'en-US');
SELECT PARSE('02/12/2016' AS DATETIME USING 'en-GB');

In [ ]:
-- SWITCHOFFSET
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '-05:00');
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '+00:00');

In [ ]:
-- TODATETIMEOFFSET
/*
UPDATE dbo.T1
  SET dto = TODATETIMEOFFSET(dt, theoffset);
*/

In [ ]:
-- AT TIME ZONE

SELECT name, current_utc_offset, is_currently_dst
FROM sys.time_zone_info;

In [ ]:
-- Converting non-datetimeoffset values
-- behavior similar to TODATETIMEOFFSET
SELECT
  CAST('20160212 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val1,
  CAST('20160812 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val2;

In [ ]:
-- Converting datetimeoffset values
-- behavior similar to SWITCHOFFSET
SELECT
  CAST('20160212 12:00:00.0000000 -05:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val1,
  CAST('20160812 12:00:00.0000000 -04:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val2;

In [ ]:
-- DATEADD
SELECT DATEADD(year, 1, '20160212');

In [ ]:
-- DATEDIFF
SELECT DATEDIFF(day, '20150212', '20160212');

In [ ]:
SELECT DATEDIFF_BIG(millisecond, '00010101', '20160212');

In [ ]:
SELECT
  DATEADD(
    day, 
    DATEDIFF(day, '19000101', SYSDATETIME()), '19000101');

In [ ]:
SELECT
  DATEADD(
    month, 
    DATEDIFF(month, '19000101', SYSDATETIME()), '19000101');

In [ ]:
SELECT
  DATEADD(
    year, 
    DATEDIFF(year, '18991231', SYSDATETIME()), '18991231');

In [ ]:
-- DATEPART

SELECT DATEPART(month, '20160212');

In [ ]:
-- DAY, MONTH, YEAR

SELECT
  DAY('20160212') AS theday,
  MONTH('20160212') AS themonth,
  YEAR('20160212') AS theyear;

In [ ]:
-- DATENAME
SELECT DATENAME(month, '20160212');

In [ ]:
SELECT DATENAME(year, '20160212');

In [ ]:
-- ISDATE
SELECT ISDATE('20160212');
SELECT ISDATE('20160230');

In [ ]:
-- fromparts
SELECT
  DATEFROMPARTS(2016, 02, 12),
  DATETIME2FROMPARTS(2016, 02, 12, 13, 30, 5, 1, 7),
  DATETIMEFROMPARTS(2016, 02, 12, 13, 30, 5, 997),
  DATETIMEOFFSETFROMPARTS(2016, 02, 12, 13, 30, 5, 1, -8, 0, 7),
  SMALLDATETIMEFROMPARTS(2016, 02, 12, 13, 30),
  TIMEFROMPARTS(13, 30, 5, 1, 7);

In [ ]:
-- EOMONTH
SELECT EOMONTH(SYSDATETIME());

In [ ]:
-- orders placed on last day of month
SELECT orderid, orderdate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate = EOMONTH(orderdate);

In [ ]:
---------------------------------------------------------------------
-- Querying Metadata
---------------------------------------------------------------------

-- Catalog Views
USE TSQLV6;

In [ ]:
SELECT SCHEMA_NAME(schema_id) AS table_schema_name, name AS table_name
FROM sys.tables;

In [ ]:
SELECT 
  name AS column_name,
  TYPE_NAME(system_type_id) AS column_type,
  max_length,
  collation_name,
  is_nullable
FROM sys.columns
WHERE object_id = OBJECT_ID(N'Sales.[Order]');

In [ ]:
-- Information Schema Views
SELECT TABLE_SCHEMA, TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = N'BASE TABLE';

In [ ]:
SELECT 
  COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, 
  COLLATION_NAME, IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = N'Sales'
  AND TABLE_NAME = N'Orders';

In [ ]:
-- System Stored Procedures and Functions
EXEC sys.sp_tables;

In [ ]:
EXEC sys.sp_help
  @objname = N'Sales.[Order]';

In [ ]:
EXEC sys.sp_columns
  @table_name = N'Orders',
  @table_owner = N'Sales';

In [ ]:
EXEC sys.sp_helpconstraint
  @objname = N'Sales.[Order]';

In [ ]:
SELECT 
  SERVERPROPERTY('ProductLevel');

In [1]:
SELECT
  DATABASEPROPERTYEX(N'TSQLV4', 'Collation');

(No column name)
NULL

In [ ]:
SELECT 
  OBJECTPROPERTY(OBJECT_ID(N'Sales.[Order]'), 'TableHasPrimaryKey');

In [ ]:
SELECT
  COLUMNPROPERTY(OBJECT_ID(N'Sales.[Order]'), N'shipcountry', 'AllowsNull');